name: CI

on:
  push:
    branches:
      - "**"
    tags:
      - "v*"
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: make install_deps
      - uses: actions/cache@v5
        with:
          path: ~/.cache/prek
          key: prek|${{ runner.os }}|${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            prek|${{ runner.os }}|
      - uses: j178/prek-action@v1
        with:
          extra_args: --all-files --hook-stage pre-commit
